{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<header>

</header>
    <main>
        <section class="container">
            <form action="/" method="POST">
<div class="row">
                <input type="search" name="search" placeholder="Rechercher une recette..." class="col-12 mb-2 col-md-9">
                <label for="search" class="col-12 col-md-3 border-border  text-center mb-2 rounded-2 text-white" style="background-color: #e97D21;">Rechercher</label>
</div>
                <div class="row mb-3" >

                <fieldset class="col-12 col-lg-4">
                    <legend>Categorie</legend>
                    {% for categorie in categories %}
                        <div class="d-md-inline gap-3 d-lg-block">
                        <input type="checkbox" name="categories" value="{{ categorie.id }}" id="categorie">
                        <label for="categorie">{{ categorie.name }}</label>
                        </div>
                    {% endfor %}
                </fieldset>
                <fieldset class="col-12 col-lg-4">
                    <legend>Temps de Preparations</legend>
                    {% for tempsDePreparation in tempsDePreparations %}
                        <div class="d-md-inline gap-3 d-lg-block">
                            <input type="checkbox" name="tempsDePreparation" value="{{ tempsDePreparation.id }}" id="tempsDePreparation">
                            <label for="tempsDePreparation">{{ tempsDePreparation.name }}</label>
                        </div>
                    {% endfor %}
                </fieldset>
                    <fieldset class="col-12 col-lg-4">
                        <legend>Difficulté</legend>
                        {% for difficulte in difficulte %}
                        <div class="d-md-inline gap-3 d-lg-block">
                            <input type="checkbox" name="difficulte" value="{{difficulte.id}}" id="difficulte">
                            <label for="difficulte">{{ difficulte.name }}</label>
                        </div>
                        {% endfor %}
                    </fieldset>


                </div>
            </form>
        </section>
        <section class="container">


            <div  class="row mb-3">
                {% for recette in recettes %}
                    <article  class="col-12  col-md-6 col-lg-3 d-flex flex-column gap-3 position-relative mb-5 rounded-3 border border-grey shadow p-1">

                            <img src="{{ asset('uploads/recettes/' ~ recette.images) }}" alt="{{ recette.titre }}" class="align-middle rounded-3 w-100">

                        <h2 class="fw-bold text-center">{{ recette.titre }}</h2>
                        <p class="text-center text-black fw-bold fs-2">{{ recette.prix }} €</p>
                        <div>
                        <span class=" text-white  rounded-4 p-2"style="background-color: #e97D21;">{{ recette.categories.name }}</span>
                        <span class="text-white   rounded-4 p-2" style="background-color: #56B86C;">{{ recette.tempsDePreparations.name }}</span>
                        <span class="text-white  rounded-4 p-2" style="background-color: #2182E9;">{{ recette.difficulte.name }}</span>
                        </div>
                        <a href="{{ path('app_recettes_index', { id: recette.id }) }}" class="text-center border border text-white mb-2 rounded-2  text-decoration-none"style="background-color: #e97D21;">Voir la Recette</a>
                        <div class="position-absolute top-0 end-0 m-4 rounded-circle bg-white p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-suit-heart-fill " viewBox="0 0 16 16">
                                <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1"/>
                            </svg>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>














    </main>
    <footer>

    </footer>
{% endblock %}
