{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <div class="row" >
        <div class="col-12 col-md-6">
    <h1>Recettes</h1>
    <article  class="w-75 position-relative mb-5 rounded-3 border border-light shadow p-3 " style="transition: transform 0.3s ease;"
              onmouseover="this.style.transform='translateY(-5px)';"
              onmouseout="this.style.transform='translateY(0)';">

        <img src="{{ asset('uploads/recettes/' ~ recette.images) }}" alt="{{ recette.titre }}" class="align-middle rounded-3 w-100">

        <h2 class="fw-bold text-center">{{ recette.titre }}</h2>
        <p class="text-center text-black  fs-2">{{ recette.prix }}€</p>
        <div>
            <span class=" text-white  rounded-4 p-2 mb-2"style="background-color: #e97D21;">{{ recette.categories.name }}</span>
            <span class="text-white   rounded-4 p-2 mb-2" style="background-color: #56B86C;">{{ recette.tempsDePreparations.name }}</span>
            <span class="text-white  rounded-4 p-2 mb-2" style="background-color: #2182E9;">{{ recette.difficulte.name }}</span>
        </div>

    </article>
        </div>

    <div class="col-12 col-md-6">
    <h2>Ingredients</h2>

        <ul class="bg-light border border-white shadow">
            {% for ingredient in recette.ingredients|split(',') %}
                <li>{{ ingredient|trim }}</li>
            {% endfor %}
        </ul>
    </div>
    </div>


{% endblock %}
