<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_main') }}">
            <img src="{{ asset('images/logo.webp') }}" alt="Logo"  width="60" height="auto" class="d-inline-block align-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{{ path('app_main') }}">accueil</a>
                <a class="nav-link" href="{{ path('app_recettes_index') }}">Ajouter une recette</a>
                <a class="nav-link" href="{{ path('app_favoris') }}">Mes favoris</a>
                <a class="nav-link" href="#">A propos</a>

            </div>
        </div>
    </div>
</nav>
